%%-*- mode: erlang -*-

{deps, [
        {covertool, ".*", {git, "git@github.com:miranetworks/covertool.git", {branch, "master"}}},
        {cuttlefish, ".*", {git, "git@github.com:miranetworks/cuttlefish.git", {branch, "master"}}}
        ]}.

{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{require_otp_vsn, "17|18"}.

{clean_files, ["*.eunit", "ebin/*.beam", "rel/mira_bdb_port_driver"]}.

{erl_opts, [
    %% Consider compiler warnings as errors
    warnings_as_errors
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{plugins, [rebar_covertool, cuttlefish_rebar_plugin]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/cover.coverdata", ".eunit/eunit.coverage.xml"}}. % Output report file name

{port_env, [
    {"CFLAGS", "$CFLAGS -Wall -O3"},
    {"LDFLAGS", "$LDFLAGS -ldb"}]}.

{edoc_opts, [
    {packages, false},
    {new, true},
    {hidden, true},
    {subpackages, true},
    {preprocess, true}, 
    {report_missing_types, true},
    {macros, [{'NO_CALLBACK_SUPPORT', true}]} % Workaround to build docs on pre-R15 versions

]}.

