% vim: ft=erlang
{global_rebar_dir, ".rebar3"}.

{plugins, [
    {mira, {git, "git@github.com:miranetworks/rebar3_mira.git", {branch, "master"}}}
]}.

{deps, [
    {covertool, ".*", {git, "git@github.com:miranetworks/covertool.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "19"}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "_build/test"}]}}
]}.

{cover_enabled, true}.

{profiles, [
    {test, [
        {plugins, [
            {rebar3_covertool_gen, {git, "git@github.com:idubrov/covertool.git", {ref, "be45cab"}}}
        ]},

        {deps, [
            {meck, "0.8.4"}
        ]}
    ]}

   ,{prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {system_libs, false}
        ]}
    ]}
]}.

{relx, [
    {release, { mira_bdb_port_driver, "default"}, [
        mira_bdb_port_driver
    ]},

    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},

    {sys_config, "rel/config/sys.config"},
    {vm_args,    "rel/config/vm.args"},

    {overlay, [
        {copy, "rel/config", "."},
        {copy, "rel/os_scripts", "."}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
