{deps_dir, ["deps"]}.

{deps, [

    {covertool, ".*", {git, "git@github.com:miranetworks/covertool.git", {tag, "1.0.0"}}}

]}. 

{require_otp_vsn, "R14|R15|R16"}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}] }.
{cover_enabled, true}.
{plugins, [rebar_covertool]}.
{covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name



{port_env, [
            {"CFLAGS", "$CFLAGS -Wall -Wstrict-prototypes -O3"},
            {"LDFLAGS", "$LDFLAGS -ldb"}
            ]}.

