{application, mira_bdb_port_driver,

    [

    {description, "mira_bdb_port_driver"},

    {vsn, "%APP_DVER%"},

    {id, "mira_bdb_port_driver"},

    {modules,   [

                %APP_MODULES%

                ]
    },

    {registered, []},

    {applications, [kernel, stdlib]}

    ]

}.
