{application, mira_ekvs_bdb_client,

    [

    {description, "mira_ekvs_bdb_client"},

    {vsn, "%APP_DVER%"},

    {id, "mira_ekvs_bdb_client"},

    {modules,   [

                %APP_MODULES%

                ]
    },

    {registered, []},

    {mod, {mira_ekvs_bdb_client, []}},

    {applications, [kernel, stdlib]}

    ]

}.
